<table>
<!--     <tr>
        <td><a href="{{ site.baseurl }}">Home</a></td>
        <td><a href="{{ site.baseurl }}/frq1">FRQ 1</a></td>
        <td><a href="{{ site.baseurl }}/frq2">FRQ 2</a></td>
        <td><a href="{{ site.baseurl }}/frq3">FRQ 3</a></td>
        <td><a href="{{ site.baseurl }}/frq4">FRQ 4</a></td>
    </tr> -->
    <tr>
        <td><a href="{{ site.baseurl }}">Home</a></td>
        <td>
            <div class="dropdown1">
            <button class="dropbtn1">FRQs</button>
            <div class="dropdown1-content">
              <a href="{{ site.baseurl }}/frq1">FRQ 1</a>
              <a href="{{ site.baseurl }}/frq2">FRQ 2</a>
              <a href="{{ site.baseurl }}/frq3">FRQ 3</a>
              <a href="{{ site.baseurl }}/frq4">FRQ 4</a>
            </div>
          </div>
        </td>
    </tr>
</table>
