---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  button {
    background: rgb(253, 253, 215);
    font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
  }
  h1 {
    font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
  }
  p{
    font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
  }


body { padding: 0px 0 20px 0px; margin: 0px; font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #f0e7d5; font-weight: normal; background: #252525; background-attachment: fixed !important; background: linear-gradient(#ca667f, #5f3399); }