---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  .text-center {
    text-align: center;
  }
  button {
    background: #D1A3CE;
    color: #001535;
    font-family: 'Dosis', sans-serif;
font-size: large;
border-radius: 8px;
padding: 8px;
    
  }
  h1 {
    font-family: 'Dosis', sans-serif;
  }
  p{
    font-family: 'Dosis', sans-serif;
  }
  a{
color: #e2c0e0;
  }

  a:hover {
    color: #9E79AB;
  }

.wrapper{
  width:100%;
  height: 100%;
}
.lboard_section{
  width:500px;
  height: 400px;
  margin: 100px auto 0;
  background: #4fa7f9;
  border-radius: 5px;
  padding: 25px 40px;
}
body { padding: 0px 0 20px 0px; margin: 0px; font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #ffffff; font-weight: normal; background-attachment: fixed !important; background: linear-gradient(#005b96, #001535); }